.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.portfolio-item{
    background: var(--color-bg-variant);
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.portfolio-item:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.portfolio-item-image{
    border-radius: 1rem;
    /* overflow: hidden; */
    height: 8rem;
}
.portfolio-item-image img{
    border-radius: 0.5rem;
}
.portfolio-item h3{
    margin: 0.6rem 0 ;
    text-align: center;
}
.portfolio-item-cta{
    display: flex;
    gap: 1.5rem;
    margin-bottom:  0.6rem;
    justify-content: center;
}



/* ========= Media Queries Medium screen  */
@media screen and (max-width:1024px){
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}


/* ========= Media Queries Small screen  */
@media screen and (max-width:600px){
    .portfolio-container{
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
}